<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div style="height:1px;background-color:#ff4f27;"></div>
    <div class="container">
       
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ site.title }}</a>
        </div>
        
        
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.baseurl }}">Home</a></li>
                {% comment %}
                The code below dynamically generates a sidebar nav of pages with
                `layout: page` in the front-matter. See readme for usage.
                {% endcomment %}
                
                {% assign pages_list = site.pages %}
                {% for node in pages_list %}
                {% if node.title != null %}
                {% if node.layout == "page" %}
                <li><a href="{{ node.url }}">{{ node.title }}</a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
